<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= topic.img_url %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= topic.content %>
  </p>

</div>
